/* CSS Document */
/* Absolutely Essential */
/* Alexandra Hadley */
a:hover {
	color: #FF0033;
}
a {
	color: ff0033;
	text-decoration: none;
	font-weight: bold;
}

body {
	background-color: #ffff33;
	margin-left: 5px;
	margin-right: 5px;
	margin-bottom: 5px;
	margin-top: 5px;
	background-image: url(bg.gif);
}
body,p,td {
	color: #ff6699;
	font-size: 12px;
	text-decoration: none;
	font-family: Arial, Helvetica, Sans-serif;
	border: 0px;
}
hr {
	color: #000000;
}
.navbar {
	color: #000000;
	font-weight: bold;
	font-size: 12px;
	background-repeat: repeat;
}
a.navbar{
	color: #000000;
	text-decoration: none;
}
a.navbar:hover{
	color: #000000;
	text-decoration: underline;
}

.border {
	background-color: #ff6699;
}
.title {
	color: #000000;
	font-weight: bold;
	font-size: 30px;
}
.subtitle {
	color: #000000;
	font-weight: bold;
	font-size: 16px;
}
a.subtitle:hover{
	color: #000000;
}
.small {
	color: #FF0033;
	font-weight: normal;
	font-size: 10px;
}
.header {
	background-color: #FF0033;
	background-image: url(navbg.gif);
}
.trailer {
	color: #FFFFFF;
	font-weight: bold;
	font-size: 11px;
	background-image: url(navbg.gif);
}
a.trailer{
	color: #FFEB85;
}
a.trailer:hover{
	color: #FFFFFF;
}
.content {
	background-color: #ff6699;
	color: #FFFFFF;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
}
.new {
	font-size: 10px;
	font-weight: bold;
	color: #FFFFFF;
}

.welcome {
	font-size: 12px;
	color: #FFffff;
}
.columnheader {
	color: #FFffff;
	font-weight: bold;
	background-color: #0000AA;
}
.entry {
	color: #ff0033;
	background-color: #FFCC00;
	font-weight: bold;
}
a.planwatch{
	color: #FFFF33;
	font-size: 12px;
	font-weight: bold;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
a.planwatch:hover{
	color: #ffffff;
}
.planwatch {
	background-color: #FF0033;
	color: #000000;
	font-size: 11px;
}

.description {
	background-color: #ff6699;
}
.error {
	color: #AA0000;
	font-weight: normal;
}
