.content pre {
	font-family: Verdana, Tahoma, Helvetica, sans-serif;
	font-size: 100%;
}
body {
	background-color: #FFFFFF;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
}
td.navbar {
		background-color: #f7f7ff;
}
a {
	text-decoration: none;
	color: #0000ff;
	font-weight: none;
}

body,p,td {
	font-family: Arial, Helvetica, Sans-serif;
	font-size: 13px;
	color: #000000;
	border: 0px;
}
a:hover {
	text-decoration: underline;
	background-color: #9C99CC;
}

pre {
	border-left: 1px solid #000080;
	border-right: 1px solid #000080;
	border-bottom: 1px solid #000080;
	border-top: 1px solid #000080;
	background-color: #ffffff;
	width: 95%;
	color: #000000;
	padding: 20px;
}
.header {
	background-color: #d9e4f9;
}
.trailer {
	background-color: #f7f7ff;
}
.content {
	background-color: #eeeeee;
	padding: 20px;
}
.new {
	font-size: 80%;
	font-weight: bold;
	color: #0000ff;
}
td.planwatch{
	background-color: #ffffff;
	background-image: url('bg.gif');
	background-repeat: repeat-y;
	background-position: top left;
}
.content .subtitle {
	font-family: Arial, sans-serif;
	font-size: 90%;
	text-transform: uppercase;
	letter-spacing: .1em;
	font-weight: bold;
}

.content p {
	margin: 10px;
	margin-top: 20px;
}
.title {
	font-size: 120%;
	font-weight: bold;
}
.subtitle {
	font-size: 100%;
	font-weight: bold;
}
.small {
	font-size:  80%;
	font-weight: bold;
}
.welcome {
	color: #003399;
}
.columnheader {
	color: #000000;
	background-color: #f7f7ff;
	font-weight: bold;
}
.entry {
	background-color: #ffffff;
}
.description {
        background-color: #d9e4f9;
}

.welcome {
	color: #CCCCCC;
	font-size:  12px }

.columnheader {
	color: #000000;
	background-color: #8888ff;
	font-weight: normal;
	letter-spacing: .1em;
}

.entry {
	background-color: #FFFFFF;
}

.description {
	background-color: #d7d7d7;
}

td.description p, td.entry {
	font-family: Verdana, Tahoma, sans-serif;
	font-size: 12px;
	color: #000000;
	font-weight: normal;
}

.error {
	color: #FF0000;
	font-weight: bold;
}

.inputTextarea {	
	margin-left: 20px;
	font-family: Verdana, Tahoma, sans-serif;
	font-size: 13px;
	background-color: #FFFFFF;
	border: 1px solid #000000;
}

.inputButton {
	font-family: Arial, sans-serif;
	font-size:  12px ;
	letter-spacing: .1em;
	background-color: #d7d7d7;
	border: 1px solid;
}

.inputTextBox {
	font-family: Arial, sans-serif;
	font-size:  12px ;
	background-color: #FFFFFF;
	border: 1px solid #000000;
}

.inputTextBox:hover {
	border: 1px solid #000000;
}

.inputRadio {
	font-family: Arial, sans-serif;
	font-size:  12px ;
}

.inputCheckbox {
	font-family: Arial, sans-serif;
	font-size:  12px ;
}

select {
	font-family: Verdana, Tahoma, sans-serif;
	font-size: 12px;
}
.border {
	background-color: #e0e0e0;
	border: 0px;
}
.new {
	font-size: 13px;
	font-family: Verdana, Arial, sans-serif;
	font-weight: bold;
	color: #000000;
}
