a:hover {
	color: #786058;
}
a {
	color: #484060;
	text-decoration: none;
	font-weight: bold;
}

body {
	background-color: #402840;
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-top: 0px;
}
body,p,td {
	color: #000000;
	font-size: 12px;
	text-decoration: none;
	font-family: Arial, Helvetica, Sans-serif;
	border: 0px;
}
hr {
	color: #000000;
}
.navbar {
	color: #d8d0c8;
	font-weight: bold;
	background-color: #786058;
	font-size: 12px;
}
a.navbar{
	color: #d8d0c8;
}
a.navbar:hover{
	color: #FFFFFF;
}

.border {
	background-color: #402840;
}
.title {
	color: #414141;
	font-weight: bold;
	font-size: 30px;
}
.subtitle {
	color: #786058;
	font-weight: bold;
	font-size: 16px;
}
a.subtitle:hover{
	color: #d8d0c8;
}
.small {
	color: #C0C0C0;
	text-decoration: underline;
	font-weight: bold;
	font-size: 10px;
}
.header {
	background-color: #402840;
}
.trailer {
	color: #d8d0c8;
	font-weight: bold;
	background-color: #786058;
	font-size: 11px;
}
a.trailer{
	color: #d8d0c8;
}
a.trailer:hover{
	color: #FFFFFF;
}
.content {
	background-color: #d8d0c8;
}
.new {
	font-size: 10px;
	font-weight: bold;
	color: #BFD7BF;
}

.welcome {
	font-size: 12px;
	color: #d8d0c8;
}
.columnheader {
	color: #FFFFFF;
	font-weight: bold;
	background-color: #484060;
}
.entry {
	color: #402840;
	background-color: #a89890;
	font-weight: bold;
}
.description {
	background-color: #d8d0c8;
}
a.planwatch{
	color: #b7bf9f;
	font-size: 12px;
	font-weight: bold;
}
a.planwatch:hover{
	color: #d8d0c8;
}
.planwatch {
	background-color: #402840;
	color: #bfd7bf;
	font-size: 11px;
}

.error {
	color: #AA0000;
	font-weight: normal;
}
