body {
	background-color: #FFFFFF;
	margin: 0px;
	padding: 0px;
	
}

body,p,td {
	font-family: Verdana, Tahoma, Sans-serif;
	font-size: 13px;
	color: #000000;
	border: 0px;
}

a {
	text-decoration: none;
	color: #6579D6;
	font-weight: normal;
}

hr {
	color: #000000;
}

td.navbar {
	font-size: 10px;
	text-transform: lowercase;
	background-color: #E5E5E5;
}
a.navbar {
	color: #000000;
	font-weight: normal;
}

.border {
	background-color: #CCCCCC;
}

.title {
	font-size: 20px;
	font-weight: bold;
	text-transform: uppercase;
}
.content .subtitle {
	font-family: Arial, sans-serif;
	font-size: 13px;
	text-transform: uppercase;
	letter-spacing: .1em;
	font-weight: bold;
}

.content p
	{
	margin: 10px;
	margin-top: 25px;
	}

.planwatch {
	background-color: #EEEEEE;
	font-size: 10px;
	text-transform: lowercase;
	margin-left: 10px; }

td.planwatch
	{ padding: 4px }

a.subtitle {
	font-family: Tahoma, sans-serif;
	letter-spacing: .2em;
	color: #000000 }

a.subtitle:hover {
	text-decoration: underline }

.planwatch .small {
	font-family: Arial, sans-serif;
	font-size: 9px; 
	text-transform: uppercase; 
	letter-spacing: .1em;
	color: #0000000;
}

.planwatch a:link, .planwatch a:visited
	{ color: #000000 }
.planwatch a:hover
	{ color: #666666 }	

.planwatch strong
	{ text-decoration: none;
	  font-weight: normal;
	  letter-spacing: .1em;
	  font-family: Arial, sans-serif;
	  font-size: 9px;
	  text-transform: uppercase;
	  margin-left: 0px; }

.planwatch u
	{ text-decoration: none }

.planwatch hr
	{ width: 100%;
	  height: 1px;
	  color: #CCCCCC }	


.header {
	background-color: #FFFFFF;
}
.trailer {
	color: #CCCCCC;
	text-transform: lowercase;
	background-color: #E5E5E5;
	border-style: none;
}

td.trailer
	{ padding-top: 10px;
	  padding-bottom: 5px; }

.content {
	background-color: #FFFFFF;
	color: #000000
	padding-left: 50px;
}

.content tt {
	font-family: Verdana;
	font-size: 8px;
	text-transform: uppercase;
	letter-spacing: .09em;
	line-height: 175%;
	color: #CCCCCC; 
	}

tt a:link, tt a:visited, tt a:active
	{ color: #666666; text-decoration: none  }
	
tt a:hover                    	
	{ color: #000000; text-decoration: none }
	
.content pre {
	font-family: Verdana, Tahoma, Helvetica, sans-serif;
	font-size: 13px;
	line-height: 120%;
	margin-left: 20px; }

.new {
	font-size: 10px;
	text-transform: lowercase;
	font-weight: bold;
	color: #000000;
	margin: 0;
	float: right;
}
.welcome {
	text-transform: lowercase;
	color: #CCCCCC;
	font-size: 10px
}
.columnheader {
	color: #000000;
	background-color: #E5E5E5;
	font-weight: normal;
	letter-spacing: .1em;
	text-transform: uppercase;
}
.entry {
	background-color: #FFFFFF;
}

.description {
	background-color: #CCCCCC;
}

td.description p, td.entry {
	font-family: Verdana, Tahoma, sans-serif;
	font-size: 11px;
	color: #000000;
	text-transform: lowercase;
	font-weight: normal }


.error {
    	color: #FF0000;
 	font-weight: bold;
}
.inputTextarea {	
	margin-left: 20px;
	font-family: Verdana, Tahoma, sans-serif;
	font-size: 13px;
	background-color: #FFFFFF;
	border: 1px solid #000000 }

.inputButton {
	font-family: Arial, sans-serif;
	font-size: 10px;
	letter-spacing: .1em;
	background-color: #FFFFFF;
	border: 1px solid;
	text-transform: lowercase; }
	
.inputTextBox {
	font-family: Arial, sans-serif;
	font-size: 10px;
	background-color: #FFFFFF;
	border: 1px dashed #000000 }

.inputTextBox:hover, .inputTextBox:active {
	border: 1px solid #000000 }

.inputRadio {
	font-family: Arial, sans-serif;
	font-size: 10px; }
	
.inputCheckbox {
	font-family: Arial, sans-serif;
	font-size: 10px;}

select {
	font-family: Verdana, Tahoma, sans-serif;
	font-size: 12px;
	text-transform: lowercase; }